<app-advisor-layout>

  <!-- HEADER -->
  <div class="px-8 py-6">
    <h1 class="text-xl font-semibold">Dashboard</h1>
  </div>

  <!-- SUMMARY -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-8">

    
    <div class="bg-white rounded-xl shadow-md border border-gray-200 p-4 flex items-center gap-4">
    
       <img src="assets\icons\group.png" class="h-10 w-auto rounded-full object-cover bg-Black-200"/>
      <div>
        <p class="text-gray-600 text-sm font-medium">Total Customers</p>
        <h2 class="text-xl font-bold text-gray-900">{{ summary.totalCustomers }}</h2>
      </div>
    </div>

    <div class="bg-white rounded-xl shadow-md border border-gray-200 p-4 flex items-center gap-4">
        <img src="assets\icons\asset.png" class="h-10 w-auto rounded-full object-cover bg-Black-200"/>
      <div>
        <p class="text-gray-600 text-sm font-medium">Total Assets</p>
        <h2 class="text-xl font-bold text-gray-900">
          {{ summary.totalAssets }}
        </h2>
      </div>
    </div>

    <div class="bg-white rounded-xl shadow-md border border-gray-200 p-4 flex items-center gap-4">
        <img src="assets\icons\alerts.png" class="h-10 w-auto rounded-full object-cover bg-Black-200"/>
      <div>
        <p class="text-gray-600 text-sm font-medium">Active Alerts</p>
        <h2 class="text-xl font-bold text-gray-900">
          {{ summary.riskAlerts }}
        </h2>
      </div>
    </div>
</div>


  <!-- CUSTOMERS -->
  <div class="bg-white rounded-xl shadow-sm p-6 px-8 mt-8 mx-8">
    <h3 class="font-medium mb-4">My Customers</h3>

    <table class="w-full text-sm">
      <thead class="text-gray-500 border-b">
        <tr>
          <th class="text-left py-3">Name</th>
          <th class="text-left py-3">Username</th>
          <th class="text-left py-3">Email</th>
          <th class="text-left py-3">Phone</th>
          <th>Total Assets</th>
          <th>KYC Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" class="border-b">
          <td class="py-2">{{ customer.name }}</td>
          <td>{{ customer.username }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.assets }}</td>
          <td>
            <span
              class="text-xs px-2 py-1 rounded-full"
              [class.bg-green-100]="customer.kycStatus === 'Approved'"
              [class.bg-yellow-100]="customer.kycStatus === 'Pending'"
              [class.bg-red-100]="customer.kycStatus === 'Rejected'">
              {{ customer.kycStatus }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- AUDIT LOGS -->
  <div class="bg-white rounded-xl shadow-sm p-6 px-8 mt-8 mx-8">
    <h3 class="font-medium mb-4">Logs</h3>

    <table class="w-full text-sm">
      <tr *ngFor="let log of auditLogs" class="border-b">
        <td class="py-2">{{ log.customerName }}</td>
        <td>{{ log.action }}</td>
        <td>
          <span
            class="text-xs px-2 py-1 rounded-full"
            [class.bg-green-100]="log.status === 'Success'"
            [class.bg-red-100]="log.status === 'Failed'">
            {{ log.status }}
          </span>
        </td>
      </tr>
    </table>
  </div>

  <!-- CREATE PORTFOLIO -->
  <div class="bg-white rounded-xl shadow-sm p-6 px-8 mt-8 mx-8 mb-10">
    <h3 class="font-medium mb-4">Create Portfolio</h3>

    <table class="w-full text-sm">
      <tr *ngFor="let customer of customersWithoutPortfolio" class="border-b">
        <td class="py-2">{{ customer.name }}</td>
        <td class="text-red-500 text-xs">Not Created</td>
        <td class="text-right">
          <button
            class="bg-blue-600 text-white px-3 py-1 rounded-md text-xs"
            (click)="goToPortfolioBuilder(customer.id)">
            Create
          </button>
        </td>
      </tr>
    </table>
  </div>

</app-advisor-layout>
