<footer
  class="bottom-0 left-60 w-90 bg-transparent text-gray-400 text-xs text-center py-2"
>
  <div class="mb-1 space-x-1">
    <span>AML Policy</span>
    <span>|</span>
    <span>Privacy Policy</span>
    <span>|</span>
    <span>Customer Agreement</span>
    <span>|</span>
    <span>Risk Disclosure</span>
    <span>|</span>
    <span>Return Policy</span>
  </div>

  <div>
    © 2026 FinVista, registration number: 13210109.
    <span class="ml-1">E-mail:</span>
    <a href="mailto:support&#64;finVista.com" class="hover:underline">
      support&#64;finVista.com
    </a>
  </div>
</footer>