<footer class="w-auto bg-[#616566] text-gray-300 text-sm pt-6 pb-6 mt-8">

  <div class="max-w-7xl mx-auto px-6">

    <!-- TOP GRID -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-10">

      <!-- COLUMN 1 -->
      <div>
        <h3 class="text-lg font-semibold text-white mb-4">Products</h3>
        <ul class="space-y-2">
          <li>Government Bonds</li>
          <li>Fixed Deposits</li>
          <li>Government Schemes</li>
          <li>Retirement Plans</li>
          <li>Portfolio Builder</li>
        </ul>
      </div>

      <!-- COLUMN 2 -->
      <div>
        <h3 class="text-lg font-semibold text-white mb-4">Support</h3>
        <ul class="space-y-2">
          <li>Help Center</li>
          <li>Advisor Support</li>
          <li>Documentation</li>
          <li>FAQs</li>
          <li>Investment Guidance</li>
        </ul>
      </div>

      <!-- COLUMN 3 -->
      <div>
        <h3 class="text-lg font-semibold text-white mb-4">Legal</h3>
        <ul class="space-y-2">
          <li>AML Policy</li>
          <li>Privacy Policy</li>
          <li>Customer Agreement</li>
          <li>Risk Disclosure</li>
          <li>Return Policy</li>
        </ul>
      </div>

      <!-- COLUMN 4 -->
      <div>
        <h3 class="text-lg font-semibold text-white mb-4">Company</h3>
        <ul class="space-y-2">
          <li>About FinVista</li>
          <li>Our Advisors</li>
          <li>Leadership</li>
          <li>Careers</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>

    <!-- SOCIAL ICONS -->
    <!-- SOCIAL ICONS -->
    <div class="flex justify-center gap-4 mt-3">

      <img 
        src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/facebook.svg"
        class="w-5 h-5 invert opacity-80 hover:opacity-100 transition"
        alt="facebook"
      >

      <img 
        src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/instagram.svg"
        class="w-5 h-5 invert opacity-80 hover:opacity-100 transition"
        alt="instagram"
      >

      <img 
        src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg"
        class="w-5 h-5 invert opacity-80 hover:opacity-100 transition"
        alt="linkedin"
      >

      <img 
        src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
        class="w-5 h-5 invert opacity-80 hover:opacity-100 transition"
        alt="github"
      >

    </div>


    <!-- BOTTOM TEXT -->
    <div class="text-center text-gray-400 text-xs mt-4 leading-6">

      AML Policy | Privacy Policy | Customer Agreement | Risk Disclosure | Return Policy

      <br />

      © 2026 FinVista, registration number: 13210109.
      E‑mail:
      
    <a href="mailto:support&#64;finVista.com" class="hover:underline">
      support&#64;finVista.com
    </a>
    </div>

  </div>
</footer>